<!DOCTYPE html>
<html>
<head>
	<style>
		.container{
			padding: 10px;
			text-align: center;
		}

		.row{
			margin: 25px;
			font-size: 24px;
		}

		.title{
			font-size: 28px;
		}

		.card{
			height: 100%;
		}

	</style>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384- GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  	 <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	 <script type="text/javascript" src="{{ url_for('static', filename = 'recipe_list.js') }}"></script>
  	 <script>
  	 	var recipes = {{recipes|tojson}}
  	 	var search_string = {{search_string|tojson}}
  	 </script>
  	 
</head>

<body>
	{% extends "navbar.html" %}
	{% block content %}
	<div class="container">
		<div class="row">
			{% if not search_string %}
			<div class="col-md-12 title">Recipes</div>
			{% elif not recipes %}
			<div class="col-md-12 title">We're sorry, we don't have any recipes with names or ingredients similar to "{{ search_string }}"<br/>Please search again or click the "Choose a new recipe" menu option!
				<img src="https://media1.giphy.com/media/eJAMm9k5HHcFruncR2/giphy.gif?cid=ecf05e477ad434b9869cf249d1db6bd3bcfbb5598517df40&rid=giphy.gif" alt="Sorry gif" id="sorry-gif" />
			</div>
			{% else %}
			<div class="col-md-12 title">Recipes with names or ingredients similar to "{{ search_string }}"</div>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card-columns">
					{% for recipe in recipes %}
					<div class="card">
						<a href="http://127.0.0.1:5000/{{ recipe.id }}"><img class="card-img-top" src="{{ recipe.media }}" alt="Recipe image for {{ recipe.name }}"></a>
						<div class="card-body">
							<h5 class="card-title">{{ recipe.name }}</h5>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>

</html>
<!--
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 title">Recipes</div>
		</div>
		{% for recipe_group in recipes|batch(3) %}
		<div class="row">
			{% for recipe in recipe_group %}
			<div class="col-md-4">
				<div class="card">
					<a href="http://127.0.0.1:5000/{{ recipe.id }}"><img class="card-img-top" src="{{ recipe.media }}" alt="Recipe image for {{ recipe.name }}"></a>
					<div class="card-body">
						<h5 class="card-title">{{ recipe.name }}</h5>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	<div>
</body>
-->